<div class="container">
  <div class="row login-content">
    <div class="col-sm-12">
      <img class="logo" src="../../../assets/images/logo1.jpg" alt="Prefeitura Municipal de Solânea">
      <h1>Login</h1>
      <!--<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>-->
      <!--<p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>-->
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Senha</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Por favor digite seu email e senha.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Por favor, digite um email válido.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div id="login-button">
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Entrar
          </button>
          <a href="#">Esqueceu sua senha?</a>
        </div>

      </form>
    </div>
  </div>
</div>
