.login-content{
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  img {
    display: block;
    margin: 0 auto;
  }
}

#login-button {
    a {
        float: right;
    }
}

.logo {
    width: 70%;
    height: 100%;
}