$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #FDFDFD;
}

button{
  height : 39px;
}


.form-padding-right-empty{
  padding-right: 0px !important;
}
.form-padding-left-empty{
  padding-left: 0px !important;
}

.form-padding-empty {
  padding: 0px !important;
}
// Component styles are injected through gulp
/* inject:scss */
@import 'account/login/login';
@import 'admin/admin';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
