<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      
      <button class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Prefeitura Municipal de Solânea</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav main-navbar">
        <li ng-repeat="item in $ctrl.menu" ng-class="{active: $ctrl.isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ng-class="{active: $ctrl.isActive('/admin')}"><a href="/admin">Usuários</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Olá {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
