<navbar></navbar>
<div class="container">
  <form class="registers-form">
    <label>Pesquisar por registro de imóvel</label>
    <input ng-search type="text" class="form-control" 
      placeholder="Digite o código de pesqusia do imóvel"
      ng-model="$ctrl.searchText" callback="$ctrl.searchRegister">
  </form>
  <div class="row">
    <div class="col-md-12">
      <div class='page-header'>
        <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <button type="button" class="btn btn-primary" 
            ng-click="$ctrl.register={}"
            data-toggle="modal" 
            data-target="#register_add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
        <h1> Registros </h1>
      </div>
      <div ng-if="$ctrl.registers.length == 0" class="without-items" >Sem registros</div>
      <table ng-if="$ctrl.registers.length > 0" class="table table-striped table-bordered table-hover registers">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Bairro</th>
            <th>E-mail</th>
            <th ng-show="$ctrl.isAdmin()" class="center-value">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="$ctrl.register=register" 
          style="cursor: pointer" 
          ng-repeat="register in $ctrl.registers">
            <td data-toggle="modal" data-target="#register_add">
              {{register.informacoes_do_proprietario.nome_proprietario}}
            </td>
            <td data-toggle="modal" data-target="#register_add">
              {{register.informacoes_do_proprietario.bairro}}
            </td>
            <td data-toggle="modal" data-target="#register_add">
            {{register.informacoes_do_proprietario.email}}
            </td>
            <td ng-show="$ctrl.isAdmin()" ng-click="$ctrl.removeRegister(register)" class="center-value">
                <span class="glyphicon glyphicon-remove table-remove-icon"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="register_add" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content register-form">
      <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">
            <div class="row">
              <div class="col-md-3">
                <img class="form-icon" src="../../assets/images/logo1.jpg" alt="">
              </div>
              <div class="col-md-7 text-center">
                <b>
                  PREFEITURA MUNICIPAL DE SOLÂNEA <br>
                  Secretaria de Serviços Públicos, Transportes e Estradas
                  Assessoria Especial de Geoprocessamento,Topografia e Medição
                  Cadastro Técnico Municipal – Boletim de Cadastro Imobiliário (BCI)
                </b>
              </div>
            </div>
          </h5>
      </div>
      <div class="modal-body">
        <form name="registerForm">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>01 - IDENTIFICAÇÃO DO REGISTRO</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-group col-md-12">
              <input id="registerIdentify" type="text" 
              ng-model="$ctrl.register.identificacao_do_registro"
              class="form-control"
              placeholder="Identificação do registro">
            </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>02 - INSCRIÇÃO CADASTRAL</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputDistrict" class="col-form-label">Distrito</label>
                  <input id="inputDistrict" ng-model="$ctrl.register.inscricao_cadastral.distrito" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputSector" class="col-form-label">Setor</label>
                  <input id="inputSector" ng-model="$ctrl.register.inscricao_cadastral.setor" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputBlock" class="col-form-label">Quadra</label>
                  <input id="inputBlock" ng-model="$ctrl.register.inscricao_cadastral.quadra" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputLot" class="col-form-label">Lote</label>
                  <input id="inputLot" ng-model="$ctrl.register.inscricao_cadastral.lote" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputUnity" class="col-form-label">Unidade</label>
                  <input id="inputUnity" ng-model="$ctrl.register.inscricao_cadastral.unidade" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
        
          <div class="panel panel-default container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title"><b>03 - DADOS GERAIS</b></h3>
            </div>
            <div class="panel-group">
              <div class="panel panel-default col-md-6">
                <div class="panel-heading">
                  <h3 class="panel-title">04 - Comandos</h3>
                </div>
                <div class="panel-body">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputComandsInclusion" class="col-form-label">inclusao</label>
                      <input id="inputComandsInclusion" type="text" 
                      ng-model="$ctrl.register.dados_gerais.comandos.inclusao" 
                      class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputCommandsChange" class="col-form-label">Alteração</label>
                      <input id="inputCommandsChange" 
                      ng-model="$ctrl.register.dados_gerais.comandos.alteracao" 
                      class="form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState" class="col-form-label">Cancelamento</label>
                      <input id="inputCommandsCancel" 
                      ng-model="$ctrl.register.dados_gerais.comandos.cancelamento" class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default col-md-6">
                <div class="panel-heading">
                  <h3 class="panel-title">05 - Inscrição Anterior</h3>
                </div>
                <div class="panel-body">
                  <div class="form-row">
                    <label for="inputOldRegister" class="col-form-label">Cadastro Anterior</label>
                    <textarea id="inputOldRegister" ng-model="$ctrl.register.dados_gerais.inscricao_anterior.cadastro_anterior" 
                    class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="panel panel-default container-fluid">
            <div class="panel-heading">
              <h3 class="panel-title"><b>06 - LOCALIZAÇÃO DO IMÓVEL</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputStreetType" class="col-form-label">1.Tipo de logradouro</label>
                    <input id="inputStreetType" type="text" 
                    ng-model="$ctrl.register.localizacao_do_imovel.tipo_de_logradouro"
                    class="form-control">
                  </div>
                  <div class="form-group col-md-8">
                    <label for="inputNameOfThePlace" class="col-form-label">2.Nome do logradouro</label>
                    <input id="inputNameOfThePlace" type="text" 
                    ng-model="$ctrl.register.localizacao_do_imovel.nome_do_logradouro"
                    class="form-control">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputLogCode" class="col-form-label">3.Código logradouro</label>
                      <input type="text" ng-model="$ctrl.register.localizacao_do_imovel.codigo_do_logradouro"
                       class="form-control" id="inputLogCode">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputLocationOfPropertyNumber" class="col-form-label">4.Número</label>
                      <input id="inputLocationOfPropertyNumber" ng-model="$ctrl.register.localizacao_do_imovel.numero"
                       class="form-control" type="text"/>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputLocationOfPropertyComplement" class="col-form-label">5.Complemento</label>
                      <input id="inputLocationOfPropertyComplement" 
                      ng-model="$ctrl.register.localizacao_do_imovel.complemento" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputLocationOfPropertyNeighborhood" class="col-form-label">6.Bairro</label>
                      <input id="inputLocationOfPropertyNeighborhood" type="text" 
                      ng-model="$ctrl.register.localizacao_do_imovel.bairro" 
                      class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputLocationOfPropertyNeighborhoodCode" 
                      class="col-form-label">7.Código bairro</label>
                      <input id="inputLocationOfPropertyNeighborhoodCode" 
                      ng-model="$ctrl.register.localizacao_do_imovel.codigo_bairro" class="form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputLocationOfPropertyBlock" class="col-form-label">8.Quadra</label>
                      <input id="inputLocationOfPropertyBlock"
                      ng-model="$ctrl.register.localizacao_do_imovel.quadra"
                      class="form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputLocationOfPropertyLot" class="col-form-label">9.Lote</label>
                      <input id="inputLocationOfPropertyLot" 
                      ng-model="$ctrl.register.localizacao_do_imovel.lote"
                      class="form-control"/>
                    </div>
                  </div>
            </div>
          </div>

          <div class="panel panel-default container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title"><b>07 - INFORMAÇÕES DO PROPRIETÁRIO</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputOwnerInformationsName" class="col-form-label">1.Nome do proprietário(a)</label>
                    <input id="inputOwnerInformationsName" 
                    ng-model="$ctrl.register.informacoes_do_proprietario.nome_proprietario"
                    type="text" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputTypeOfStreet" class="col-form-label">2.Tipo logradouro</label>
                    <input type="text" 
                    ng-model="$ctrl.register.informacoes_do_proprietario.tipo_logradouro"
                    class="form-control" id="inputTypeOfStreet">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputNameOfStreet" class="col-form-label">3.Nome do logradouro</label>
                    <input type="text"
                    ng-model="$ctrl.register.informacoes_do_proprietario.nome_do_logradouro"
                    class="form-control" id="inputNameOfStreet">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputOwnerInformationsNumber" class="col-form-label">4.Número</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.numero"
                      class="form-control" id="inputOwnerInformationsNumber">
                    </div>
                    <div class="form-group col-md-8">
                      <label for="inputOwnerInformationsComplement" class="col-form-label">5.Complemento</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.complemento"
                      class="form-control" id="inputOwnerInformationsComplement">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputOwnerInformationsNeighborhood" class="col-form-label">6.Bairro</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.bairro"
                      class="form-control" id="inputOwnerInformationsNeighborhood">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputOwnerInformationsBlock" class="col-form-label">7.Quadra</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.quadra"
                      class="form-control" id="inputOwnerInformationsBlock">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputOwnerInformationsLot" class="col-form-label">8.Lote</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.lote"
                      class="form-control" id="inputOwnerInformationsLot">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-8">
                      <label for="inputOwnerInformationsCity" class="col-form-label">9.Cidade</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.cidade"
                      class="form-control" id="inputOwnerInformationsCity">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputOwnerInformationsUf" class="col-form-label">10.UF</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.uf"
                      class="form-control" id="inputOwnerInformationsUf">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputOwnerInformationsCep" class="col-form-label">11.CEP</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.cep"
                      class="form-control" id="inputOwnerInformationsCep">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <label for="inputOwnerInformationsCpf" class="col-form-label">12.CPF/CNPJ</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.cpf_cnpj"
                      class="form-control" id="inputOwnerInformationsCpf">
                    </div>
                    <div class="form-group col-md-7">
                      <label for="inputOwnerInformationsEmail" class="col-form-label">13.E-mail</label>
                      <input type="text" 
                      ng-model="$ctrl.register.informacoes_do_proprietario.email"
                      class="form-control" id="inputOwnerInformationsEmail">
                    </div>
                  </div>
              </div>
          </div>
          
          <div class="panel panel-default container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title"><b>08 - CARACTERÍSTICAS DO IMÓVEL</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputPropertyCharacteristics" class="col-form-label">1.Ocupação do lote</label>
                    <select id="inputPropertyCharacteristics"
                      ng-options="option for option in $ctrl.opcoes.caracteristicas_do_imovel.ocupacao_do_lote" 
                      ng-model="$ctrl.register.caracteristicas_do_imovel.ocupacao_do_lote"
                      class="form-control">
                      <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPatrimony" class="col-form-label">2.Patrimônio</label>
                    <select id="inputPatrimony" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_do_imovel.patrimonios" 
                    ng-model="$ctrl.register.caracteristicas_do_imovel.patrimonio"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    <!--ng-init="$ctrl.register.caracteristicas_do_imovel.patrimonio=$ctrl.opcoes.caracteristicas_do_imovel.patrimonios[0]"-->
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputUseSoil" class="col-form-label">3.Uso do solo</label>
                      <select id="inputUseSoil" class="form-control"
                      ng-options="option for option in $ctrl.opcoes.caracteristicas_do_imovel.uso_do_solo" 
                      ng-model="$ctrl.register.caracteristicas_do_imovel.uso_do_solo">
                      <option value="" disabled>Selecionar</option>
                      </select>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputPropertyCharacteristicsLimits" class="col-form-label">4.Limites</label>
                    <select id="inputPropertyCharacteristicsLimits" class="form-control" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_do_imovel.limites" 
                    ng-model="$ctrl.register.caracteristicas_do_imovel.limites">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPropertyCharacteristicsTree" class="col-form-label">5.Árvores</label>
                    <select id="inputPropertyCharacteristicsTree" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_do_imovel.arvores"
                    ng-model="$ctrl.register.caracteristicas_do_imovel.arvores"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputPropertyCharacteristicsIptu" class="col-form-label">6.IPTU</label>
                      <select id="inputPropertyCharacteristicsIptu"
                      ng-options="option for option in $ctrl.opcoes.caracteristicas_do_imovel.iptu"
                      ng-model="$ctrl.register.caracteristicas_do_imovel.iptu"
                      class="form-control">
                      <option value="" disabled>Selecionar</option>
                      </select>
                    </div>
                </div>
            </div>
          </div>

          <div class="panel panel-default container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title"><b>09 - CARACTERÍSTICAS DO TERRENO</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputTerrainFeaturesSituation" class="col-form-label">1.Situação</label>
                    <select id="inputTerrainFeaturesSituation" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_do_terreno.situacao"
                    ng-model="$ctrl.register.caracteristicas_do_terreno.situacao"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPatrimony" class="col-form-label">2.Topografia/Perfil</label>
                    <select id="inputPatrimony" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_do_terreno.topografia_perfil"
                    ng-model="$ctrl.register.caracteristicas_do_terreno.topografia_perfil"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputUseSoil" class="col-form-label">3.Pedologia/solo</label>
                      <select id="inputUseSoil"
                      ng-options="option for option in $ctrl.opcoes.caracteristicas_do_terreno.pedologia_solo"
                      ng-model="$ctrl.register.caracteristicas_do_terreno.pedologia_solo"
                      class="form-control">
                      <option value="" disabled>Selecionar</option>
                      </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputLimits" class="col-form-label">4.Passeio/Calçada</label>
                    <select id="inputLimits" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_do_terreno.passeio_calcada"
                    ng-model="$ctrl.register.caracteristicas_do_terreno.passeio_calcada"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputTree" class="col-form-label">5.Dimensões do terreno</label>
                    <div class="form-group form-padding-empty">
                        <div class="form-group col-md-8 form-padding-empty">
                          <span class="form-control">Testada principal (m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <input type="text"
                          ng-model="$ctrl.register.caracteristicas_do_terreno.dimensoes_do_terreno.testada_principal"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-8 form-padding-empty">
                          <span class="form-control">Testada 2 (fundos)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <input type="text"
                          ng-model="$ctrl.register.caracteristicas_do_terreno.dimensoes_do_terreno.testada2"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-8 form-padding-empty">
                          <span class="form-control">Testada 3</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_do_terreno.dimensoes_do_terreno.testada3"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-8 form-padding-empty">
                          <span class="form-control">Testada 4</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_do_terreno.dimensoes_do_terreno.testada4"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-8 form-padding-empty">
                          <span class="form-control">Perímetro</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_do_terreno.dimensoes_do_terreno.perimetro"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-8 form-padding-empty">
                          <span class="form-control">Área terreno (m²)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_do_terreno.dimensoes_do_terreno.area_terreno"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">(m²)</span>
                        </div>
                      </div> 
                  </div>
                </div>
            </div>
          </div>

          <div class="panel panel-default container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title"><b>10 - CARACTERÍSTICAS DA EDIFICAÇÃO</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-row">
                  <div class="form-group">
                    <label for="inputTipology" class="col-form-label">1.Tipologia</label>
                    <select id="inputTipology"
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.tipologia" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.tipologia"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
              
                  <div class="form-group">
                        
                    <label class="col-form-label" for="position_hv">2.Posicionamento(H/V)</label>
                    <div id="position_hv" class="panel panel-default container-fluid">
                      <div class="panel-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputPositionH" class="col-form-label">1.H</label>
                            <select id="inputPositionH" 
                            ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.posicionamento_h_v.h" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.posicionamento_h_v.h"
                            class="form-control">
                            <option value="" disabled>Selecionar</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPositionV" class="col-form-label">2.V</label>
                            <select id="inputPositionV" 
                            ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.posicionamento_h_v.v" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.posicionamento_h_v.v"
                            class="form-control form-padding-empty">
                            <option value="" disabled>Selecionar</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group col-md-4 form-padding-left-empty">
                    <label for="inputSituation" class="col-form-label">3.Situação</label>
                    <select id="inputSituation" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.situacao" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.situacao"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                      <label for="inputStructure" class="col-form-label">4.Estrutura</label>
                      <select id="inputStructure" 
                      ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.estrutura" 
                      ng-model="$ctrl.register.caracteristicas_da_edificacao.estrutura"
                      class="form-control">
                      <option value="" disabled>Selecionar</option>
                      </select>
                  </div>

                  <div class="form-group col-md-4 form-padding-right-empty">
                    <label for="inputFences" class="col-form-label">5.Vedações</label>
                    <select id="inputFences" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.vedacoes" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.vedacoes"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4 form-padding-left-empty">
                    <label for="inputRoof" class="col-form-label">6.Coberta</label>
                    <select id="inputRoof" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.coberta" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.coberta"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="inputLining" class="col-form-label">7.Forro</label>
                    <select id="inputLining" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.forro" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.forro"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4 form-padding-right-empty">
                    <label for="inputFloor" class="col-form-label">8.Piso</label>
                    <select id="inputFloor" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.piso" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.piso"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>

                  <div class="form-group col-md-6 form-padding-left-empty">  
                    <label class="col-form-label" for="position_hv">9.Pintura</label>
                    <div id="position_hv" class="panel panel-default container-fluid">
                      <div class="panel-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputExternalPaint" class="col-form-label">1.Externa</label>
                            <select id="inputExternalPaint" 
                            ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.pintura.externa" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.pintura.externa"
                            class="form-control">
                            <option value="" disabled>Selecionar</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputInnerPaint" class="col-form-label">2.Interna</label>
                            <select id="inputInnerPaint" 
                            ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.pintura.interna" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.pintura.interna"
                            class="form-control">
                            <option value="" disabled>Selecionar</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-6 form-padding-left-empty">  
                    <label class="col-form-label" for="position_hv">10.Revestimento</label>
                    <div id="position_hv" class="panel panel-default container-fluid">
                      <div class="panel-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputExternalPaint" class="col-form-label">Ext</label>
                            <select id="inputExternalPaint" 
                            ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.revestimento.externo" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.revestimento.externo"
                            class="form-control">
                            <option value="" disabled>Selecionar</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputInnerPaint" class="col-form-label">Int</label>
                            <select id="inputInnerPaint" 
                            ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.revestimento.interno" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.revestimento.interno"
                            class="form-control">
                            <option value="" disabled>Selecionar</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default container-fluid">
              <div class="panel panel-default col-md-6 container-fluid">
                <div class="panel-heading">
                  <h3 class="panel-title"><b>11. Instalação elétrica</b></h3>
                </div>
                <div class="panel-body">
                  <div class="form-group col-md-12">
                    <select id="inputFences" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.instalacao_eletrica" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.instalacao_eletrica"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="panel panel-default col-md-6 container-fluid">
                <div class="panel-heading">
                  <h3 class="panel-title"><b>12. Instalação sanitária</b></h3>
                </div>
                <div class="panel-body">
                  <div class="form-group col-md-12">
                    <select id="inputLining" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.instalacao_sanitaria" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.instalacao_sanitaria"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="panel panel-default col-md-6 container-fluid">
                <div class="panel-heading">
                  <h3 class="panel-title"><b>13. Padrão</b></h3>
                </div>
                <div class="panel-body">
                  <div class="form-group col-md-12">
                    <select id="inputFences" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.padrao" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.padrao"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="panel panel-default col-md-6 container-fluid">
                <div class="panel-heading">
                  <h3 class="panel-title"><b>14. Conservação</b></h3>
                </div>
                <div class="panel-body">
                  <div class="form-group col-md-12">
                    <select id="inputLining" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.conservacao" 
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.conservacao"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="panel panel-default col-md-12 container-fluid">
                <div class="panel-heading">
                  <h3 class="panel-title"><b>15. Obsolência</b></h3>
                </div>
                <div class="panel-body">
                  <div class="form-group col-md-12">
                    <select id="inputLining" 
                    ng-options="option for option in $ctrl.opcoes.caracteristicas_da_edificacao.obsolencia"
                    ng-model="$ctrl.register.caracteristicas_da_edificacao.obsolencia"
                    class="form-control">
                    <option value="" disabled>Selecionar</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default container-fluid edification_dimensions">
              <div class="panel-heading">
                  <h3 class="panel-title"><b>16 - Dimensões das edificações</b></h3>
              </div>
              <div class="panel-body form-padding-empty">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <span> 1. Edificação principal</span>
                  </div>
                  <div class="form-group col-md-10 form-padding-empty">
                    <div class="form-group form-padding-empty">
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Principal(Frente)</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.principal_frente"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Lado/comprimento 2</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.lado_comprimento2"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Lado/comprimento 4</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.lado_comprimento4"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                      </div> 
                    
                      <div class="form-group form-padding-empty">
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Fundos</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.fundos"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Lado/comprimento 3</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.lado_comprimento3"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Lado/comprimento 5</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.lado_comprimento5"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                      </div> 

                      <div class="form-group form-padding-empty">
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Lado/comprimento 1</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.lado_comprimento1"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Perímetro</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.perimetro1"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m)</span>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <span class="form-control">Área construída</span>
                        </div>
                        <div class="form-group col-md-1 form-padding-empty">
                          <input type="text" 
                          ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edificacao_principal.area_construida1"
                          class="form-control" id="inputCpfOwner">
                        </div>
                        <div class="form-group col-md-1 text-center form-padding-empty">
                          <span class="form-control">(m²)</span>
                        </div>
                      </div>  
                    </div>
                  </div> 


                  <div class="form-row">
                    <div class="form-group col-md-2">
                      2. Edícula/ <br>
                        dependência
                    </div>
                    <div class="form-group col-md-10 form-padding-empty">
                      <div class="form-group form-padding-empty">
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Principal/Frente</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.principal_frente"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 2</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.lado_comprimento2"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 4</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.lado_comprimento4"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                        </div> 
                      
                        <div class="form-group form-padding-empty">
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Fundos</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.fundos"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 3</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.lado_comprimento3"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 5</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.lado_comprimento5"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                        </div> 

                        <div class="form-group form-padding-empty">
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 1</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.lado_comprimento1"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Perímetro 2</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.perimetro2"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Área construída 2</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.edicula_dependencia.area_construida2"
                            class="form-control" id="inputCpfOwner">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m²)</span>
                          </div>
                        </div>  
                    </div>
                  </div> 

                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <span class="align-middle"> 3. Apartamento </span>
                    </div>
                    <div class="form-group col-md-10 form-padding-empty">
                      <div class="form-group form-padding-empty">
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Principal(Frente)</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.principal_frente"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 1</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.lado_comprimento1"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Perímetro</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.perimetro"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                        </div> 
                      
                        <div class="form-group form-padding-empty">
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Pav/andar</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.pav_andar"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Fundos</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.fundos"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Lado/comprimento 2</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.lado_comprimento2"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m)</span>
                          </div>
                          <div class="form-group col-md-2 form-padding-empty">
                            <span class="form-control">Área construída</span>
                          </div>
                          <div class="form-group col-md-1 form-padding-empty">
                            <input type="text" 
                            ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.apartamento.area_construida"
                            class="form-control">
                          </div>
                          <div class="form-group col-md-1 text-center form-padding-empty">
                            <span class="form-control">(m²)</span>
                          </div>
                        </div>   
                    </div>
                  </div> 

                  <div class="form-row">
                    <div class="form-group form-padding-empty">
                      <div class="form-group col-md-3 form-padding-empty">
                        <span class="form-control">4. No. Aptos</span>
                      </div>
                      <div class="form-group col-md-1 form-padding-empty">
                        <input type="text" 
                        ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.no_aptos"
                        class="form-control">
                      </div>
                      <div class="form-group col-md-3 form-padding-empty">
                        <span class="form-control">5. No. Pavimentos</span>
                      </div>
                      <div class="form-group col-md-1 form-padding-empty">
                        <input type="text" 
                        ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.no_pavimentos"
                        class="form-control">
                      </div>
                      <div class="form-group col-md-3 form-padding-empty">
                        <span class="form-control">6. Perímetro Total (m)</span>
                      </div>
                      <div class="form-group col-md-1 form-padding-empty">
                        <input type="text" 
                        ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.perimetro_total"
                        class="form-control">
                      </div>
                      <div class="form-group col-md-3 form-padding-empty">
                        <span class="form-control">7. Área total construída (m²)</span>
                      </div>
                      <div class="form-group col-md-1 form-padding-empty">
                        <input type="text" 
                        ng-model="$ctrl.register.caracteristicas_da_edificacao.dimensoes_das_edificacoes.area_total_construida"
                        class="form-control">
                      </div>
                    </div> 
                  </div>
                  <div class="panel panel-default col-md-12 container-fluid">
                    <div class="panel-heading">
                      <h3 class="panel-title"><b>11. SERVIÇOS URBANOS</b></h3>
                    </div>
                    <div class="panel-body padding-panel-body">
                      <div class="row">
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxPaving" 
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.pavimentacao">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxPaving">
                              1. Pavimentação
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxGarbage" 
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.coleta_de_lixo">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxGarbage">
                              2. Coleta de lixo
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxRainGalerry"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.galeria_pluvial">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxRainGalerry">
                              3. Galeria pluvial
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxGutter" 
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.sargetas_guias">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxGutter">
                              4. Sargetas/Guias
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxSewer" 
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.esgoto_sanitario">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxSewer">
                              5. Esgoto sanitário
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxPipedWater"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.agua_encanada">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxPipedWater">
                              6. Água encanada
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxElectrical"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.energia_eletrica">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxElectrical">
                              7. Energia elétrica
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxPhone"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.telefone">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxPhone">
                              8. Telefone
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxAfforestation"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.arborizacao">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxAfforestation">
                              9. Arborização
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxInternet"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.internet">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxInternet">
                              10. Internet
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxPsf" 
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.psf">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxPsf">
                              11. PSF (até 100 m)
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-md-2 form-padding-empty">
                          <div class="checkbox checkbox-primary">
                            <input id="inlineCheckboxSchool"
                            type="checkbox" ng-model="$ctrl.register.servicos_urbanos.escola">
                            <label class="form-check-label form-padding-right-empty col-md-11" for="inlineCheckboxSchool">
                              12. Escola (até 100 m)
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default col-md-12 container-fluid">
                    <div class="panel-heading">
                      <h3 class="panel-title"><b>12. MELHORAMENTOS/SERVIÇOS</b></h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group col-md-12">
                        <select id="inputLining" 
                        ng-options="option for option in $ctrl.opcoes.melhoramentos_servicos"
                        ng-model="$ctrl.register.melhoramentos_servicos"
                        class="form-control">
                        <option value="" disabled>Selecionar</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default col-md-12 container-fluid">
                    <div class="panel-heading">
                      <h3 class="panel-title"><b>13. IPTU </b></h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-row">
                        <div class="form-group">
                          <div class="form-group">
                              <div class="form-group col-md-3 form-padding-right-empty">
                                <span class="form-control" disabled><b>1. Valor venal</b></span>
                              </div>
                              <div class="form-group col-md-1">
                                <input type="text" 
                                ng-model="$ctrl.register.iptu.valor_venal"
                                class="form-control" id="inputCpfOwner" disabled>
                              </div>
                              <div class="form-group col-md-3 form-padding-right-empty">
                                <span class="form-control" disabled><b>2. Desconto</b></span>
                              </div>
                              <div class="form-group col-md-1">
                                <input type="text" 
                                ng-model="$ctrl.register.iptu.desconto"
                                class="form-control" id="inputCpfOwner" disabled>
                              </div>
                              <div class="form-group col-md-3 form-padding-right-empty">
                                <span class="form-control" disabled><b>3. Valor do IPTU</b></span>
                              </div>
                              <div class="form-group col-md-1">
                                <input type="text" 
                                ng-model="$ctrl.register.iptu.valor_do_iptu"
                                class="form-control" id="inputCpfOwner" disabled>
                              </div>
                            </div>                         
                        </div>
                      </div> 
                    </div>
                  </div>
                  <div class="panel panel-default col-md-12 container-fluid">
                    <div class="panel-heading">
                      <h3 class="panel-title"><b>Informações adicionais</b></h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group row col-md-12">
                        <div class="form-group col-md-4 form-padding-right-empty">
                          <label class="form-control"><b>Observações:</b></label>
                          <textarea type="text" 
                          ng-model="$ctrl.register.informacoes_adicionais.observacoes"
                          class="form-control" id="inputCpfOwner"></textarea>
                          <!--<input type="text" id="registerdate" ng-value="$ctrl.getActualDate()" />-->
                        </div>
                        <div class="form-group col-md-8 form-padding-right-empty">
                          <div class="panel panel-default col-md-12 container-fluid">
                            <div class="panel-heading">
                              <h3 class="panel-title"><b>TÉCNICOS</b></h3>
                            </div>
                            <div class="panel-body">
                              <div class="form-group col-md-6 form-padding-empty">
                                <span class="form-control">CADASTRADOR(A):</span>
                              </div>
                              <div class="form-group col-md-6 form-padding-empty">
                                <input type="text" 
                                ng-model="$ctrl.register.informacoes_adicionais.cadastrador"
                                class="form-control" id="inputCpfOwner">
                              </div>                          
                              <div class="form-group col-md-6 form-padding-empty">
                                <span class="form-control">COORDENADOR (A) DE TURMA</span>
                              </div>
                              <div class="form-group col-md-6 form-padding-empty">
                                <input type="text" 
                                ng-model="$ctrl.register.informacoes_adicionais.coordenador_de_turma"
                                class="form-control" id="inputCpfOwner">
                              </div>
                              <div class="form-group col-md-6 form-padding-empty">
                                <span class="form-control">ARQUITETO (A)/ENGENHEIRO (A):</span>
                              </div>
                              <div class="form-group col-md-6 form-padding-empty">
                                <input type="text" 
                                ng-model="$ctrl.register.informacoes_adicionais.arquiteto_engenheiro"
                                class="form-control" id="inputCpfOwner">
                              </div>
                              <div class="form-group col-md-6 form-padding-empty">
                                <span class="form-control">CONSULTOR TÉCNICO:</span>
                              </div>
                              <div class="form-group col-md-6 form-padding-empty">
                                <input type="text" 
                                ng-model="$ctrl.register.informacoes_adicionais.consultor_tecnico"
                                class="form-control" id="inputCpfOwner">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.saveRegister($ctrl.register)">Salvar</button>
      </div>
    </div>    
  </div>
</div>

