.registers-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
.main-navbar {
  li {
    a{
      background-color: #4393B9 !important;
      color: #FFF !important;
    }
  }
}
.navbar-default {
  background-color: #4393B9 !important;
  .navbar-toggle {
    border-color: #FFF;
    .icon-bar {
      background-color: #FFF;
    }
  }
  .navbar-brand, .navbar-brand:hover {
    color: #FFF;
  }
  .navbar-text {
    color: #FFF;
  }
  .navbar-nav>li>a, .navbar-nav>li>a:hover {
    color: #FFF;
  }
}

//Modal
#register_add {
 .modal-dialog {
  width: 90%;
  .modal-content{
    .modal-body{
      height:500px;
      overflow:auto;
    }
  }
 } 
}
.registers-form {
  .panel-default{
    padding-left: 0px !important;
    padding-right: 0px !important;
    .panel-group{
      .panel-default{
        margin-top: 0px;
      }
    }
  }
}

.edification_dimensions{
    span{
      margin-left: auto;
      margin-right: auto;
      display: block;
      word-wrap: break-word;
    }
    .panel-body{
      margin:10px;
    }
}

.form-control{
  height: 39px;
}
.form-icon{
  width: 110px;
  height: 80px;
}

.without-items{
  color: gray;
}

.center-value{
  text-align: center;
}
.table-remove-icon{
  color: #C9302C;
}

.padding-panel-body {
  margin: 0px !important;
  padding: 30px !important;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }
